* {
    box-sizing: border-box;

}
/* Body styling */
body {
    background: url("http://www.designtos.com/postpic/2010/05/black-texture_169245.jpg");
    width: 100%;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
}
/* End of body styling */

/* Header styling */
.header {
    background: #4aaaab;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    top: 0;
}
/* End of header styling */

/* Navbar styling */
.navbar {
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    display: block;
    margin-bottom: 35px;
    background: white;
 }
navbar, a:hover {
    color: white;
    background: black;
}

navbar, a:focus {
    color: rgb(13, 230, 96);

}
navbar, a:active {
    color: rgb(16, 3, 196);
}
navbar, a {
    text-decoration: none;
}   
/* End of navbar styling */

/* Portfolio container, Contact container and about me container styling */
.clearfix {
    margin: 0 auto;
    background: white;
    height: auto;
    width: 960px;
}
.about-me, .contact, .portfolio {
    margin-top: 30px;
    margin-left: 23px;
    font-size: 40px;
    color: #4aaaab;
    padding: 12px;
}
.image-wrapper {
    width: 960px;
    background: white;
    height: 750px;
    margin: 0 auto;
}

/* Image holder(portfolio */
.imageHolder {
    position: relative;
    width: 285px;
    height: 175px;
    float: right;
    margin-bottom: 75px;
}
.caption {
    margin: 0 auto;
}

/* Image holder for portfolio */
.imageHolder .caption {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
}
/* Horezental row statrts here */

hr {
    width: 900px;
    padding: 5px;
    background: #4aaaab;
    margin-left: 30px; 
    margin-right:30px;
    margin-bottom: 20px;
}
/* Horizental row ends here */

/* Cards styling */
.card, .input {
    margin: 0 auto;
    text-align: center;
    width: 960px;
}

/* Card paragraph */
.card-paragraph {
    margin: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

/* Index image (my image) */
.card-image, img {
    margin: 10px;
}


/* Form styling */
form {
    text-align: center;
    width: 960px;
    margin: 10px;
}
/* End of button */


button {
    margin-bottom: 20px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
 }

 /* Footer styling */
.footer { 
    text-align: center;
    width: 100%;
    background: darkgray;
    margin-bottom: 0px;
    padding: 20px;
    color: black;
    margin-top: 35px;
    border-top: 8px solid #4aaaab;
    bottom: 0;
    position: sticky;

}
/* End of footer styling */


/* Media query to make it mobile responsive */
@media  (max-width: 900px) { 
 
    .header, .navbar, .footer {
        width: 500px;

    }
    .about-me, .contact, .portfolio {
        width: 500px;
    }
    .card, .card-caption {
        width: 500px;
    }
    .card-image, .card-paragraph {
        width: 500px;
    }
    hr {
        width: 400px;
    }
    .clearfix {
        width:500px;
    }
   
}