* {
    box-sizing: border-box;

}
body {
    background: url("http://www.designtos.com/postpic/2010/05/black-texture_169245.jpg");
    width: 100%;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    height: auto;
}

.header {
    background: #4aaaab;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
}
.navbar {
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    display: block;
    margin-bottom: 35px;
    background: white;
 }
a:hover {
    color: white;
    background: black;
}

a:focus {
    color: rgb(13, 230, 96);

}
a:active {
    color: rgb(16, 3, 196);
}
a {
    text-decoration: none;
}
/* Portfolio container, Contact container and about me container starts here */
.clearfix {
    /* width: 960px; */
    margin: 0 auto;
    background: white;
    height: auto;
}
.about-me, .contact, .portfolio {
    margin: 0 auto;
    /* margin-left: 25px; */
    /* text-align: center; */
    font-size: 40px;
    color: #4aaaab;
    padding: 5px 8px 5px 5px;
}
.image-wrapper {
    width: 960px;
    background: white;
    height: 750px;
    margin: 0 auto;
}

.imageHolder {
    position: relative;
    width: 285px;
    height: 175px;
    float: right;
    margin-bottom: 75px;
}
.caption {
    margin: 0 auto;
}
/* .imageHolder {
    margin: 8px;
} */
.imageHolder .caption {
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
    opacity:0.7;
}
/* Horezental row statrts here */
hr {
    width: 960px;
    padding: 5px;
    background: #4aaaab;
    /* margin: 25px 25px 25px 25px ; */
    margin: 0 auto;
}
/* Horizental row ends here */


.card, .input {
    margin: 8px;
    margin: 8px;
    text-align: center;
    width: 960px;
}

form {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
 }
.footer { 
    text-align: center;
    width: 100%;
    background: darkgray;
    margin-bottom: 0px;
    padding: 20px;
    color: black;
    margin-top: 35px;
    border-top: 8px solid #4aaaab;
    bottom: 0;

}



@media screen and (max-width: 600px) { 
 
    body {
      background-color: #333;
    }
    .image-wrapper {
        width: 400px;
        /* background-color: darkgray; */
        height: 2000px;
        
    }
    .imageHolder {
        margin: 0 auto;
        /* width: 250px; */
        margin-bottom: 50px;
    }
    .header, .navbar {
        width: 100%;
    }
  } 
  

