* {
    box-sizing: border-box;

}
body {
    background: url("http://www.designtos.com/postpic/2010/05/black-texture_169245.jpg");
    width: 100%;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    height: auto;
}

.header {
    background: #4aaaab;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
}
.navbar {
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    display: block;
    margin-bottom: 35px;
    background: white;
 }
a:hover {
    color: white;
    background: black;
}

a:focus {
    color: rgb(13, 230, 96);

}
a:active {
    color: rgb(16, 3, 196);
}
a {
    text-decoration: none;
}
.container {
    width: 960px;
    margin: 0 auto;
    background: white;
    height: auto;
}
.about-me, .contact, .title {
    margin-top: 8px;
    margin-left: 25px;
    font-size: 40px;
    color: #4aaaab;
    padding: 5px 8px 5px 5px;
}
/* .image-wrapr {
    width: 960px;
    background: white;
} */

  .imageHolder {
    position: relative;
    width: 285px;
    height: 175px;
    float: right;
}
.imageHolder .caption {
    position: absolute;
    width: 150  px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: green;
	text-align:center;
	font-weight:bold;
	opacity:0.7;
}
  /* .image {
    width:200px; 
    height:200px; 
    background-image: url(locationoftheimage);
} */

hr {
    width: 885px;
    padding: 5px;
    background: #4aaaab;
    margin: 25px 25px 25px 25px ;
    margin-bottom: 30px;
}
.card, .input {
    margin: 8px;
    margin: 0 auto;
    text-align: center;
    width: 960px;
}

form {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.footer { 
    text-align: center;
    width: 100%;
    background: darkgray;
    margin-bottom: 0px;
    padding: 20px;
    color: black;
    margin-top: 35px;
    position: sticky;
    border-top: 8px solid #4aaaab;
    clearfix: both;

}



 @media screen and (max-width: 900px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
    #main-content {
      margin-bottom: 30px;
      background: green;
    }
    #sidebar{
      margin-top: 40px;
      background: blue;
    }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 700px;
      background: blue;
    }
  }
  

